# Ignorar entorno virtual
venv/

# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos de base de datos
*.sqlite3

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos generados por Django
staticfiles/
media/

# Archivos de configuración del entorno
.env
*.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos de configuración de editores/IDEs
.vscode/
.idea/

# Archivos de compilación
build/
dist/
*.egg-info/
